pkgbase = conan
	pkgdesc = A distributed, open source, C/C++ package manager.
	pkgver = 2.4.1
	pkgrel = 1
	url = https://conan.io
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = patch
	depends = sqlite
	depends = python-requests>=2.25
	depends = python-urllib3>=1.26.6
	depends = python-colorama>=0.4.3
	depends = python-yaml>=6.0
	depends = python-patch-ng>=1.17.4
	depends = python-fasteners>=0.15
	depends = python-distro>=1.4.0
	depends = python-jinja>=3.0
	depends = python-dateutil>=2.8.0
	depends = python-bottle>=0.12.8
	depends = python-pluginbase>=0.5
	depends = python-pyjwt>=2.4.0
	provides = conan
	conflicts = conan1
	source = conan-2.4.1.tar.gz::https://github.com/conan-io/conan/archive/2.4.1.tar.gz
	md5sums = 1d774586410a645c7ef73641b045deab

pkgname = conan
